n8n/backup/Back Up Your n8n Workflows To Github subworkflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-09T05:39:48.969Z",
  "id": "bkA7koY1H0Di56xc",
  "isArchived": false,
  "meta": {
    "templateId": "1534",
    "templateCredsSetupCompleted": true
  },
  "name": "Back Up Your n8n Workflows To Github subworkflow",
  "nodes": [
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 731.7039821513649,
        "width": 1910.7813046051347,
        "color": 6
      },
      "id": "f76eff31-37da-41df-a193-30b7433b5079",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "06a69497-f523-4674-b225-29a6c53cd930",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        2096,
        912
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "593cde07-6121-472a-90f7-1678aa32a971",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1056,
        784
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "f0ea392f-2bd4-493a-b290-a5f177d42b42",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        816,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "71183173-910a-4494-adf0-d8a5e908e292",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        816,
        1072
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "4095acdb-7d9a-4f0a-800d-e75cf767aa59",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1008,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "10528a6c-4006-496c-8db6-14554191d1a1",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1408,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b870f40f-72e5-4ba2-b69a-a6fbaee4a37b",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1632,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2a5cca04-3f80-4dd9-92ca-298bb4172f1d",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1632,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9c6f90a4-9f02-43de-87ce-02d16c25be8a",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1632,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').item.json.repo_path }}{{ $json.subPath }}{{ $('Config').item.json.id }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('Config').item.json.name }}\n({{$json.github_status}})"
      },
      "id": "737ce7f0-f99c-4871-9ccf-1173c4e0b4e1",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1856,
        1264
      ],
      "typeVersion": 1,
      "webhookId": "204140e7-0534-4d1d-be68-ddf9eeb4d2dc",
      "credentials": {
        "githubApi": {
          "id": "16zr6Np1BpIq3N0V",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').item.json.repo_path }}{{ $json.subPath }}{{ $('Config').item.json.id }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('Config').item.json.name }}"
      },
      "id": "c216e794-fe12-410f-a4af-2bd1fc7bec38",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1856,
        1072
      ],
      "typeVersion": 1,
      "webhookId": "79c00e3d-57a3-46f8-b581-7b6c92e778cf",
      "credentials": {
        "githubApi": {
          "id": "16zr6Np1BpIq3N0V",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "=subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "71808a56-3969-4564-8293-3ce8b909a81b",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        1216,
        1072
      ],
      "typeVersion": 3.3,
      "notes": "{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 673,
        "width": 385,
        "color": 4
      },
      "id": "452b572d-edd4-4c75-874c-0cbdbb59e2cc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "755132bf-6a13-404b-940d-7a0d2566a97c",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        608,
        800
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "d4b0bd4f-a559-4814-bcbc-1599269e354a",
      "credentials": {
        "githubApi": {
          "id": "16zr6Np1BpIq3N0V",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=marcdhansen"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "n8n"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "=workflows/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f29ba909-0fb0-4ab8-ac65-63277a27076c",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        608,
        1088
      ],
      "typeVersion": 3.4,
      "notes": "expressions\n{{ $vars.repo_owner }}\n{{ $vars.repo_name }}\n{{ $vars.repo_path }}"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        1088
      ],
      "id": "8634f806-b5eb-4aaf-9384-9262a079fd9e",
      "name": "Execute Workflow Trigger"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "marcdhansen",
  "repo_path": "workflows/",
  "settings": {},
  "shared": [
    {
      "updatedAt": "2025-12-09T05:39:48.969Z",
      "createdAt": "2025-12-09T05:39:48.969Z",
      "role": "workflow:owner",
      "workflowId": "bkA7koY1H0Di56xc",
      "projectId": "RJ3TkXpBIa614W75"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-09T06:38:00.910Z",
  "versionId": "5fec9cf8-5e21-4fdd-92ef-877ad4a3a393"
}