n8n/backup/Intermediate RAG - Basic Setup Simple Vector Store.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T16:09:51.290Z",
  "id": "4eeQbmcOay7gAyhl",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Intermediate RAG - Basic Setup Simple Vector Store",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "e49412d7-1c1f-418d-b2fd-745f4786ee5f",
      "name": "When chat message received",
      "webhookId": "c63ab36e-1936-45dd-b31d-b82ed773ae84"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful agent. You are an expert on ovens.\n\nYou must ALWAYS use the attached tool called \"Simple Vector Store\" to retrieve information before answering.\n\nDo not answer from memory. Only include facts retrieved via the attached tool called \"Simple Vector Store\".\n\nIf no information is returned from attached tool called \"Simple Vector Store\", return the response \"Sorry, I don't know\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "2960ee71-04d8-417f-a6ab-299d8362be03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "0b62de07-8ccb-419c-84a8-a52e25c4e204",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Kek0NVaFxNY3zm7J",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        496,
        368
      ],
      "id": "17764f3c-4c9f-4853-9532-f1ddcefb9c1d",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "Kek0NVaFxNY3zm7J",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This is a repository of documents. Use it to search for answers to questions users have.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        496,
        192
      ],
      "id": "e4319441-2758-40a6-b7ea-5345293d166a",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        0
      ],
      "id": "0c0c8af7-eb30-4514-bf5d-8ee4f150ad12",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ],
      "id": "a660ddd9-89ec-44bc-bf75-6f947bddaa58",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -464,
        208
      ],
      "id": "c48542cd-21bc-4152-bb5f-ffc25cef80d4",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "Kek0NVaFxNY3zm7J",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -272,
        208
      ],
      "id": "a957d271-1262-4ed1-a58b-189f80a163a9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -272,
        368
      ],
      "id": "a61d9cc4-7ffb-4349-8fc5-e871d18c05d4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "https://products-salsify.geappliances.com/image/upload/s--aTKInEJa--/11dcf23d239334b4d2feeb1b22f4723b38f8277c.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        0
      ],
      "id": "8fb69364-658b-48c0-a402-fc15702a642e",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "marcdhansen",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T16:09:51.290Z",
      "createdAt": "2025-12-03T16:09:51.290Z",
      "role": "workflow:owner",
      "workflowId": "4eeQbmcOay7gAyhl",
      "projectId": "RJ3TkXpBIa614W75"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-05T00:47:21.760Z",
  "versionId": "d57ad668-ddcd-4165-885a-270edb962e89"
}