n8n/backup/Intermediate RAG - Basic Setup Supabase.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T23:21:27.464Z",
  "id": "W37zXKYDBx744ACG",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Intermediate RAG - Basic Setup Supabase",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        192,
        0
      ],
      "id": "ab6b1b4b-3973-4424-b48b-22550265e996",
      "name": "When chat message received",
      "webhookId": "a7270cb5-86bd-4d7e-9241-7f1f65f7ec17"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful agent. You are an expert on ovens.\n\nYou must ALWAYS use the attached tool called \"Supabase Vector Store2\" to retrieve information before answering.\n\nDo not answer from memory. Only include facts retrieved via the attached tool called \"Supabase Vector Store2\".\n\nIf no information is returned from attached tool called \"Supabase Vector Store2\", return the response \"Sorry, I don't know\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        0
      ],
      "id": "7862e054-0809-4865-838f-c482eafed158",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "ee1c266f-ecd4-4ddf-87b6-f2ec705bcf58",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Kek0NVaFxNY3zm7J",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        496,
        368
      ],
      "id": "a62a64dd-7a91-44fe-a072-1303fac96164",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "Kek0NVaFxNY3zm7J",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        0
      ],
      "id": "e0f0aa88-2b51-4676-b050-9a316721e288",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -256,
        0
      ],
      "id": "1a42064c-9927-4423-847a-83744d772c22",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ehyN9ewZNJ70k7vz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -192,
        144
      ],
      "id": "b131551a-3de4-4211-aad2-1c9f1495eca7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -192,
        288
      ],
      "id": "bc473cd9-9aa5-481b-9f6d-29a460ce2f3b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -320,
        160
      ],
      "id": "04798ee5-065d-4337-b5e7-9e3a3f1f0d5a",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "Kek0NVaFxNY3zm7J",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://products-salsify.geappliances.com/image/upload/s--aTKInEJa--/11dcf23d239334b4d2feeb1b22f4723b38f8277c.pdf",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -752,
        0
      ],
      "id": "52085268-d43e-44b8-84de-38b24d41587f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "vector store for information about ovens",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "c742e4c4-0474-4026-8371-98c4ab67da27",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "ehyN9ewZNJ70k7vz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        0
      ],
      "id": "ff6e1094-3e79-4619-866a-2ccca6e2911b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67f5053c-c15b-480f-bda4-9354f9fda619",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        0
      ],
      "id": "3ed5e259-1184-44c4-baaf-63c64a1443d9",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "marcdhansen",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T23:21:27.464Z",
      "createdAt": "2025-12-03T23:21:27.464Z",
      "role": "workflow:owner",
      "workflowId": "W37zXKYDBx744ACG",
      "projectId": "RJ3TkXpBIa614W75"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-05T00:47:16.294Z",
  "versionId": "80c82789-3a62-4f97-9e0e-a7f74e54d606"
}